/*
 *   CSS for v1.1 of my professional website
 *   CSS is arranged to use a mobile-first responsive design
 */

/* Set all HTML elements with border-box sizing, also accounts for pseudo-elements */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Applies to all visible elements on the page */
body {
  background-color: #D7CFC9;         /* body background color */
  font-family: Manrope, sans-serif;    /* font applies to all text except where overridden */
}

/* Pseudo-classes for hyperlink colors */
a:link    { color: #2f0e07;}    /* custom color for un-clicked links */
a:visited { color: #5C6060;}    /* custom color for clicked links */
a:hover   { color: #772014;}    /* custom color for links when hovered over */
a:active  { color: #121B2C;}    /* custom color for links being actively clicked */

/* Header */
header {

}

/* Footer */
footer {
  
}