/**   CSS for v1.1 of my professional website
 *    CSS is arranged to use a mobile-first responsive design
 */

/* Set all HTML elements with border-box sizing, also accounts for pseudo-elements */
*, *:before, *:after {
  box-sizing: border-box;
}

/* --------  GENERAL STYLES  -------- */

/* Body */
body {
  margin: 0;
  background-color: #D7CFC9;         /* body background color */
  font-family: Manrope, sans-serif;    /* font applies to all text except where overridden */
}

/* Pseudo-classes for hyperlink colors */
a:link    {color: #2F0E07;}    /* custom color for un-clicked links */
a:visited {color: #5C6060;}    /* custom color for clicked links */
a:hover   {color: #772014;}    /* custom color for links when hovered over */
a:active  {color: #121B2C;}    /* custom color for links being actively clicked */

/* Generic formatting applied to all images on the page unless overridden elsewhere */
img {
  display: block;         /* necessary for centering pictures */
  margin-left: auto;      /* without this pictures will align left */
  margin-right: auto;     /* without this pictures will align right */
}

/* Header */
header {
  padding: 1px;
  background-color: #121B2C;        /* header background color (repeated in footer) */
  color: #D7CFC9;                   /* header text color == body background color */
  display: flex;
  flex-direction: column;
}

header section {
  font-family: 'Verdana, sans-serif';
  text-align: center;
  margin-top: -40px;
  margin-bottom: 10px;
}

.logo {
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 20px;
  margin-bottom: 0px;
}

.sub-logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 9px;
  margin-top: 10px;
  margin-bottom: 0px;
}

header nav {
  margin-top: -9px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

header nav ul li {
  list-style-type: none;          /* removes bullets from line items */
}

header nav ul li a {
  text-decoration: none;          /* removes underlining from hyperlinks */
}

header nav ul li a:link       {color: #D7CFC9;}
header nav ul li a:visited    {color: #D7CFC9;}
header nav ul li a:hover      {color: #D7CFC9;}
header nav ul li a:active     {color: #9D6B53}

/* Main */

main {
  display: flex;
  flex-direction: column;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 8px 20px 8px;
}

main section p, main section ul {
  margin-top: -8px;
}

h1, h2, h3, h4 {
  font-family: Manrope;
}

h3 {
  text-align: left !important;
}

form {
  display: flex;
  flex-direction: column;
  width: 98%;
}

form label {
  margin-bottom: 3px;
}

form input {
  font-size: 18px;
  margin-bottom: 10px;
}

form textarea {
  font-size: 15px;
  height: 160px;
}

form button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  width: 100px;
  height: 30px;
  margin: 8px 8px 8px 0px;
}

/* Applies to 1st <li> in the 'Contact Marty' article */
.ol-linkedin {
  list-style-image: url('images/linkedin-15px.png');  /* replaces <ol> list number with LinkedIn logo on ordered list */
}

/* Applies to 2nd <li> in the 'Contact Marty' article */
.ol-github {
  list-style-image: url('images/github-15px.png');  /* replaces <ol> number with GitHub logo on ordered list */
}

/* Applies to 3rd <li> in the 'Contact Marty' article */
.ol-twitter {
  list-style-image: url('images/twitter-15px.jpg');  /* replaces <ol> number with Twitter logo on ordered list */
}

.darker-background {
  background-color: #C1B5AC;
}

.picture-frame {
  width: 100%;             /* makes my self-portrait resize to screen width */
  max-width: 314px;        /* prevents my self-portrait from resizing larger than native size */
  border-radius: 12px;     /* round off the corners of my self-portrait */
  border: 1px solid;       /* add a border to my self-portrait */
}

.cmg-soon {
  width: 100%;
  max-width: 640px;
  border-radius: 5px;
  margin-bottom: 26px;
}

.add-mg-top-10px {
  margin-top: 10px;
}

/* Footer */

footer {
  padding-top: 5px;                 /* adds blue space above text in footer */
  padding-bottom: 20px;             /* trial and error this keeps my footer text vertically centered */
  height: 45px;                     /* vertical height of footer */
  background-color: #121B2C;      /* footer background color, coordinated with header and horizontal rules */
  color: #D7CFC9;                 /* header & footer text color == body background color */
}

footer p {
  text-align: center;
  font-family: Verdana, sans-serif;   /* clean font with a reasonable fallback */
  font-size: 12px;                    /* all font formatting to mimic header */
  font-weight: 900;
  letter-spacing: 4px;
}

/* --------  DESKTOP VARIANT  -------- */

@media all and (min-width: 750px) {

  #home {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  #intro-text {
    width: 600px;
    height: 250px;
    padding-top: 40px;
    margin-left: 50px;
  }

  #portfolio-1, #portfolio-3 {
    display: flex;
    flex-direction: row;
    padding-right: 75px;
    /*border: 3px solid red;*/       /* debugging purposes only */
  }

  #portfolio-2 {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 75px;
    text-align: right;
    /*border: 3px solid red;*/       /* debugging purposes only */
  }

  #portfolio p {
    margin: 8px 20px 8px 20px;
    /*border: 3px solid green;*/     /* debugging purposes only */
  }

  .cmg-soon {
    min-width: 400px;
  }

  .top-pg-lower {
    margin-top: 62px !important;
  }

  #contact-content {
    display: flex;
  }

  #contact-content * {
    margin: 0px 10px 0px 10px;
  }

  #contact-left {
    width: 100%;
    min-width: 100px;
    max-width: 600px;
  }

  #contact-form {
    width: 100%;
  }

  #form-buttons {
    margin: 10px 0px 15px 0px;
  }

  #contact p {
    padding-left: 15px;
  }

  #social-media {
    margin-bottom: 35px;
    padding-left: 0px;
  }

  #social-media ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0px;
  }

  #google-maps {
    width: 100%;
    min-width: 320px;
  }

  #google-maps iframe {
    height: 100%;
    width:98%;
    height:300;
  }
}

@media all and (min-width: 1000px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  header section {
    padding-left: 20px;
    text-align: left
  }

  .sub-logo {
    padding-bottom: 10px;
  }

  header nav {
    width: 400px;
    font-size: x-large;
    font-style: bold;
    margin-top: 18px;
    margin-right: 10px;
  }
}