/*
 *   CSS for v1.1 of my professional website
 *   CSS is arranged to use a mobile-first responsive design
 */

/* Set all HTML elements with border-box sizing, also accounts for pseudo-elements */
*, *:before, *:after {
  box-sizing: border-box;
}

/* DEBUG BORDER SCRIPT: */  /*  border: 3px solid red;  */


/* --------  GENERAL STYLES  -------- */

/* Body */
body {
  margin: 0;
  background-color: #D7CFC9;         /* body background color */
  font-family: Manrope, sans-serif;    /* font applies to all text except where overridden */
}

/* Pseudo-classes for hyperlink colors */
/* TODO: Change links back to stylized colors at end */
a:link    {color: #2F0E07;}    /* custom color for un-clicked links */               /* TODO: #2F0E07 after troubleshooting */
a:visited {color: #5C6060;}    /* custom color for clicked links */                  /* TODO: #5C6060 after troubleshooting */
a:hover   {color: #772014;}    /* custom color for links when hovered over */        /* TODO: #772014 after troubleshooting */
a:active  {color: #121B2C;}    /* custom color for links being actively clicked */   /* TODO: #121B2C after troubleshooting */

/* Header */
header {
  padding: 1px;
  background-color: #121B2C;        /* header background color (repeated in footer) */
  color: #D7CFC9;                   /* header text color == body background color */
  display: flex;
  flex-direction: column;
}

header section {
  font-family: 'Verdana, sans-serif';
  text-align: center;
  margin-top: -40px;
  margin-bottom: 10px;
}

.logo {
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 20px;
  margin-bottom: 0px;
}

.sub-logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 9px;
  margin-top: 10px;
  margin-bottom: 0px;
}

header nav {
margin-top: -9px;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

header nav ul li {
  list-style-type: none;          /* removes bullets from line items */
}

header nav ul li a {
  text-decoration: none;          /* removes underlining from hyperlinks */
}

header nav ul li a:link    {color: #D7CFC9;}
header nav ul li a:active  {color: #9d6b53}

/* Footer */

footer {
  margin-top: 10px;                 /* adds negative space before the footer starts */
  padding-top: 5px;                 /* adds blue space above text in footer */
  padding-bottom: 20px;             /* trial and error this keeps my footer text vertically centered */
  height: 45px;                     /* vertical height of footer */
  background-color: #121B2C;      /* footer background color, coordinated with header and horizontal rules */
  color: #D7CFC9;                 /* header & footer text color == body background color */
}

footer p {
  text-align: center;
  font-family: Verdana, sans-serif;   /* clean font with a reasonable fallback */
  font-size: 12px;                    /* all font formatting to mimic header */
  font-weight: 900;
  letter-spacing: 4px;
}

/* --------  DESKTOP VARIANT  -------- */

@media all and (min-width: 700px) {

  header {
    flex-direction: row;
  }

}